.header {
  height: 34vw;
  margin: 30px auto; /* This now works */
  font-family: Outfit;
  background: url(header_img.png) no-repeat center center;
  background-size: contain;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;

  animation: fadeIn 3s;
}
.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  color: white;
  font-size: 1vw;
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
}
@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 850px) {
  .header-contents {
    max-width: 80%;
    margin-top: -120px;

    left: 15vw;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
@media (max-width: 400px) {
  .header-contents {
    max-width: 80%;
    margin-top: -200px;
    left: 10vw;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 1.5vw 2vw;
  }
  .header-contents h2 {
    font-size: 18px;
  }
}

@media (max-width: 250px) {
  .header-contents {
    max-width: 100%;
    margin-top: -300px;
    left: 10vw;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 1.5vw 2vw;
  }
  .header-contents h2 {
    font-size: 18px;
  }
}
